
<div class="container">
    <!-- row -->
    <div class="row">
        <div class="col-12">
            <!-- card -->
            <div class="card py-1 border-0 mb-8 shadow-sm rounded">
                <div>
                    <h1 class="fw-bold bi-info-circle-fill text-center">About US</h1>
                </div>
            </div>
        </div>
    </div>

<partial name="_About" />
</div>

@section Scripts {
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/simplebar/dist/simplebar.min.js"></script>
    <script src="~/js/theme.min.js"></script>
}