@{
    ViewData["Title"] = "Home Page";
}

<body>

    <main>
        <!-- section -->
        <section class="conatiner-fluid mt-8">
            <div class="container">
                <div class="hero-slider">
                    <div style="background: url(/images/slider/hero-img-slider-1.jpg) no-repeat; background-size: cover; border-radius: 0.5rem; background-position: center">
                        <div class="ps-lg-12 py-lg-16 col-xxl-5 col-lg-7 col-md-8 py-14 px-8 text-xs-center">
                            <h1 class="text-white display-5 fw-bold mt-4">SuperMarket For Fresh Grocery</h1>
                            <p class="lead text-white">Introduced a new model for online grocery shopping and convenient home delivery at any time.</p>
                            <a href="#!" class="btn btn-dark mt-3">
                                Shop Now
                                <i class="feather-icon icon-arrow-right ms-1"></i>
                            </a>
                        </div>
                    </div>
                    <div style="background: url(/images/slider/hero-img-slider-2.jpg) no-repeat; background-size: cover; border-radius: 0.5rem; background-position: center">
                        <div class="ps-lg-12 py-lg-16 col-xxl-5 col-lg-7 col-md-8 py-14 px-8 text-xs-center">
                            <h1 class="text-dark display-5 fw-bold mt-4">
                                Opening Sale
                                <br /> Discount up to
                                <span class="text-primary display-6">50%</span>
                            </h1>
                            <p class="lead">Snack on late-night munchies of delicious nuts & you’re guaranteed happiness before you doze!</p>
                            <a href="#!" class="btn btn-dark mt-3">
                                Shop Now
                                <i class="feather-icon icon-arrow-right ms-1"></i>
                            </a>
                        </div>
                    </div>
                    <div style="background: url(/images/slider/hero-img-slider-3.jpg) no-repeat; background-size: cover; border-radius: 0.5rem; background-position: center">
                        <div class="ps-lg-12 py-lg-16 col-xxl-5 col-lg-7 col-md-8 py-14 px-8 text-xs-center">
                            <h1 class="text-dark display-5 fw-bold mt-4">Midnight Munch Combo</h1>
                            <p class="lead">Snack on late-night munchies of delicious nuts & you’re guaranteed happiness before you doze!</p>
                            <a href="#!" class="btn btn-dark mt-3">
                                Shop Now
                                <i class="feather-icon icon-arrow-right ms-1"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- section category -->
        <section class="my-lg-14 my-8">
            <div class="container">
                <div class="row align-items-center mb-6">
                    <div class="col-10">
                        <div>
                            <!-- heading    -->
                            <h3 class="align-items-center d-flex mb-0 h4">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers text-primary">
                                    <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
                                    <polyline points="2 17 12 22 22 17"></polyline>
                                    <polyline points="2 12 12 17 22 12"></polyline>
                                </svg>
                                <span class="ms-3">Shop by Categories</span>
                            </h3>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="slider-arrow slider-8-columns-arrow" id="slider-8-columns-arrows"></div>
                    </div>
                </div>
                <div class="row g-6">
                    <div class="col-12">
                        <div class="position-relative">
                            <div class="slider-8-columns" id="slider-8-columns">
                                <!-- item -->
                                <div class="item">
                                    <!-- item -->
                                    <a href="@Url.Action("ShopGrid", "Home")" class="text-decoration-none text-inherit">
                                        <!-- card -->
                                        <div class="card mb-3 card-lift">
                                            <div class="card-body text-center py-6">
                                                <!-- img -->
                                                <div class="my-5">
                                                    <svg width="56" height="56" fill="#3d4f58" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M8.553 3.46a.567.567 0 0 0-.246.502c0 .17.378 1.537.84 3.038.462 1.501.84 2.826.84 2.945 0 .119.042.326.093.461.117.309.417 3.805.607 7.094.472 8.134.292 18.735-.461 27.3l-.119 1.353-.9 2.368c-.495 1.302-.9 2.508-.9 2.68 0 .201.072.38.204.502.204.19.21.19 19.626.19 17.12 0 19.445-.016 19.622-.14.411-.288.367-.515-.623-3.176L46.2 46.06l-.138-1.587c-.508-5.834-.654-9.601-.654-16.846 0-6.477.046-8.021.376-12.694.322-4.556.305-4.454 1.356-7.825.855-2.74.932-3.044.828-3.294-.062-.151-.189-.315-.281-.364-.27-.145-4.672-.111-4.867.037-.238.181-.363.581-.264.844.181.473.381.522 2.135.522 1.259 0 1.613.026 1.579.117-.063.172-.371 1.138-.908 2.847l-.477 1.516H32.574c-8.952 0-12.375.029-12.543.106-.287.13-.462.53-.379.862.14.559-.67.526 12.721.526h12.264l-.059.63a220.588 220.588 0 0 0-.497 6.911c-.197 3.436-.226 14.449-.047 17.799.152 2.853.381 6.408.519 8.055.061.735.093 1.355.07 1.377-.022.023-7.453.041-16.511.041H11.641l.059-.677c.781-8.881.933-20.385.383-28.91-.142-2.204-.287-4.037-.379-4.783l-.055-.443 1.852-.003c1.99-.003 2.088-.025 2.266-.495.117-.308.004-.642-.289-.846-.178-.126-.524-.15-2.137-.15h-1.925L10.72 7.07l-.697-2.263 14.098-.047c7.755-.026 14.167-.08 14.25-.122.176-.088.362-.461.362-.727 0-.102-.103-.289-.229-.415l-.229-.229H8.799l-.246.193m22.633 13.916c-1.036.181-1.419.876-1.744 3.166-.264 1.858-.499 2.876-.83 3.6-.224.488-1.22 2.085-1.301 2.085-.066 0 .041-.717.334-2.24.471-2.444.316-3.265-.713-3.782-.388-.194-.595-.232-1.288-.232-1.954 0-3.675.674-5.084 1.993-1.055.987-1.705 2.046-2.139 3.485-.334 1.109-.358 2.948-.053 4.066a7.584 7.584 0 0 0 3.239 4.387c.595.379 1.759.909 1.994.909.053 0 .266.326.473.724.724 1.391 1.716 2.361 3.133 3.06 1.041.515 1.707.693 2.85.761 4.039.243 7.475-3.003 7.478-7.063.001-1.872-.544-3.225-1.411-3.5-.174-.056-.169-.08.098-.515.683-1.11 1.059-2.554 1.056-4.06-.002-1.6-.328-2.752-1.131-4.002-1.173-1.827-3.415-3.111-4.961-2.842m1.667 1.823c.953.46 1.888 1.397 2.356 2.361 1.7 3.503-.297 7.865-4.001 8.735-.795.186-2.426.142-2.945-.08-.317-.135-.362-.205-.584-.909l-.241-.763.439-.598c.241-.329.45-.598.463-.598.013 0-.021.127-.075.282-.302.868.541 1.81 1.465 1.637 1.229-.231 1.416-1.963.264-2.444-.412-.172-.676-.162-1.075.042l-.335.17.47-.699c.783-1.165 1.368-2.515 1.515-3.495l.06-.402.347.346c.457.457.872.538 1.451.282.756-.334 1.008-1.285.509-1.918-.416-.529-1.181-.676-1.739-.336l-.304.185.004-.208c.009-.488.249-1.554.404-1.791.149-.226.209-.249.51-.197.188.033.657.212 1.042.398m-6.497 2.367c.137.125.074.923-.173 2.161-.631 3.175-.542 4.352.559 7.372.286.785.545 1.605.575 1.822.051.369.037.401-.215.5-.785.308-2.289.25-3.386-.132-2.384-.829-3.94-2.896-4.086-5.429-.157-2.712 1.622-5.324 4.17-6.124.986-.309 2.306-.397 2.556-.17m5.704.369c0 .2-.271.171-.311-.033-.024-.125.014-.163.139-.139.095.018.172.095.172.172m-8.419.829c-1.068.671-.589 2.343.672 2.343.758 0 1.26-.508 1.26-1.274 0-.439-.039-.545-.311-.842-.27-.295-.377-.345-.817-.377-.391-.029-.573.005-.804.15m.801 1.19c-.081.098-.138.103-.236.021-.098-.081-.103-.137-.021-.235.081-.098.137-.103.235-.022.098.081.103.138.022.236m7.725.968c-1.076.326-1.222 1.887-.221 2.362.403.191.721.197 1.142.022.854-.357.949-1.758.149-2.223-.335-.195-.753-.258-1.07-.161m.551 1.126c.088.142-.103.308-.277.241a.149.149 0 0 1-.089-.199c.063-.166.275-.19.366-.042m-11.618.524c-1.151.605-.863 2.263.421 2.42.683.083 1.317-.432 1.404-1.14.119-.974-.963-1.733-1.825-1.28m.693 1.154c0 .073-.073.146-.163.163-.161.031-.227-.167-.099-.295.098-.098.262-.015.262.132m2.218.241c-.472.233-.71.693-.654 1.27.038.399.101.528.377.782.448.41.879.482 1.395.233.49-.237.724-.609.724-1.146-.001-.974-.967-1.571-1.842-1.139m5.627-.052c.097.155-.12.334-.249.205-.107-.108-.04-.307.104-.307.046 0 .111.046.145.102m-4.835 1.182c.051.153-.241.262-.366.137-.054-.054-.068-.146-.032-.204.082-.134.346-.089.398.067m10.982 1.428c.083.208.198.691.254 1.074.25 1.68-.414 3.475-1.767 4.772-.599.575-1.895 1.255-2.707 1.421-2.078.425-4.386-.436-5.669-2.116-.177-.233-.323-.453-.323-.49 0-.036.348-.088.773-.115 1.689-.105 2.637-.986 2.459-2.287l-.055-.397.395-.001c1.204-.002 2.289-.344 4.477-1.412.931-.455 1.764-.827 1.852-.827.099 0 .216.143.311.378m-11.21.645c-1.072.653-.588 2.337.672 2.337.709 0 1.259-.55 1.259-1.26 0-.988-1.086-1.593-1.931-1.077m8.921.832c-.322.322-.363.414-.362.817 0 .795.513 1.341 1.259 1.341.702 0 1.259-.549 1.26-1.241.001-.765-.537-1.278-1.341-1.279-.403 0-.494.041-.816.362m-8.121.352c-.081.098-.137.103-.235.021-.098-.081-.103-.137-.022-.235.081-.098.138-.103.236-.022.098.081.103.138.021.236m9.148.44c.08.097.075.154-.023.235-.098.081-.155.074-.242-.03-.113-.136-.064-.332.083-.332.042 0 .124.057.182.127m-3.237.154c-.545.125-.953.652-.953 1.232 0 .972 1.109 1.606 1.932 1.104.415-.253.604-.58.611-1.058.013-.875-.733-1.475-1.59-1.278m.494 1.218c0 .073-.074.146-.163.163-.161.031-.228-.167-.099-.295.097-.098.262-.015.262.132m-2.747.806c-1.151.605-.862 2.263.422 2.42.682.083 1.317-.432 1.403-1.14.12-.974-.963-1.733-1.825-1.28m.699 1.063c.096.155-.12.334-.249.205-.108-.108-.04-.307.104-.307.045 0 .11.046.145.102m15.886 12.7c.322.88.57 1.615.552 1.633-.018.018-8.141.022-18.051.009L10.1 50.353l.61-1.61.61-1.61 16.857.001 16.856.001.585 1.6"
                                                              fill-rule="evenodd" />
                                                    </svg>
                                                </div>
                                                <!-- text -->
                                                <div class="text-truncate">Snacks</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- section -->
        <section class="mb-lg-14 mb-8">
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-12">
                        <div class="mb-6 d-xl-flex justify-content-between align-items-center">
                            <!-- heading -->
                            <div class="mb-5 mb-xl-0">
                                <h3 class="mb-0">New Products</h3>
                                <p class="mb-0">New products with updated stocks</p>
                            </div>
                            <div>
                                <!-- nav -->
                                <nav>
                                    <ul class="nav nav-pills nav-scroll border-bottom-0 gap-1" id="nav-tab" role="tablist">
                                        <!-- nav item -->
                                        <li class="nav-item">
                                            <!-- nav link -->
                                            <a href="#" class="nav-link active" id="nav-fruitsandveg-tab" data-bs-toggle="tab" data-bs-target="#nav-fruitsandveg" role="tab" aria-controls="nav-fruitsandveg" aria-selected="true">
                                                Fruits & Vegetables
                                            </a>
                                        </li>
                                        <!-- nav item -->

                                        <li class="nav-item">
                                            <!-- nav link -->
                                            <a href="#" class="nav-link" id="nav-snackMunchies-tab" data-bs-toggle="tab" data-bs-target="#nav-snackMunchies" role="tab" aria-controls="nav-snackMunchies" aria-selected="false">
                                                Snack & Munchies
                                            </a>
                                        </li>
                                        <!-- nav item -->
                                        <li class="nav-item">
                                            <!-- nav link -->
                                            <a href="#" class="nav-link" id="nav-bakery-tab" data-bs-toggle="tab" data-bs-target="#nav-bakery" role="tab" aria-controls="nav-bakery" aria-selected="false">
                                                Bakery & Biscuits
                                            </a>
                                        </li>
                                        <!-- nav item -->
                                        <li class="nav-item">
                                            <!-- nav link -->
                                            <a href="#" class="nav-link" id="nav-tea-tab" data-bs-toggle="tab" data-bs-target="#nav-tea" role="tab" aria-controls="nav-tea" aria-selected="false">
                                                Tea, Coffee & Drinks
                                            </a>
                                        </li>
                                        <!-- nav item -->
                                        <li class="nav-item">
                                            <!-- nav link -->
                                            <a href="#" class="nav-link" id="nav-drinks-tab" data-bs-toggle="tab" data-bs-target="#nav-drinks" role="tab" aria-controls="nav-drinks" aria-selected="false">
                                                Cold Drinks & Juices
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- row -->
                <div class="row">
                    <div class="col-12">
                        <!-- tab -->
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-fruitsandveg" role="tabpanel" aria-labelledby="nav-fruitsandveg-tab" tabindex="0">
                                <!-- row -->
                                <div class="row row-cols-2 row-cols-xl-5 row-cols-md-3 g-4">
                                    <div class="col">
                                        <!-- card -->
                                        <div class="card card-product-v2 h-100">
                                            <div class="card-body position-relative">
                                                <!-- badge -->
                                                <div class="text-center position-relative">
                                                    <div class="position-absolute top-0 start-0">
                                                        <span class="badge bg-danger">Sale</span>
                                                    </div>
                                                    <!-- img -->
                                                    <a href="#!"><img src="~/images/products/product-img-1.jpg" alt="Grocery Ecommerce Template" class="mb-3 img-fluid" /></a>
                                                    <!-- action btn -->
                                                    <div class="product-action-btn">
                                                        <a href="#!" class="btn-action mb-1" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="bi bi-eye"></i></a>
                                                        <a href="../pages/shop-wishlist.html" class="btn-action mb-1" data-bs-toggle="tooltip" data-bs-html="true" title="Wishlist"><i class="bi bi-heart"></i></a>
                                                        <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" title="Compare"><i class="bi bi-arrow-left-right"></i></a>
                                                    </div>
                                                </div>
                                                <!-- title -->
                                                <h2 class="fs-6"><a href="#!" class="text-inherit text-decoration-none">Haldiram's Sev Bhujia</a></h2>
                                                <div>
                                                    <!-- rating -->
                                                    <small class="text-warning">
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-half"></i>
                                                    </small>
                                                    <span class="text-muted small">4.5(149)</span>
                                                </div>
                                                <!-- price -->
                                                <div class="d-flex justify-content-between align-items-center mt-3">
                                                    <div>
                                                        <span class="text-danger">$18</span>
                                                        <span class="text-decoration-line-through text-muted">$24</span>
                                                    </div>
                                                    <div><span class="text-uppercase small text-primary">In Stock</span></div>
                                                </div>
                                                <!-- btn -->
                                                <div class="product-fade-block">
                                                    <div class="d-grid mt-4">
                                                        <a href="#" class="btn btn-primary rounded-pill">Add to Cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- hidden class for hover -->
                                            <div class="product-content-fade border-info" style="margin-bottom: -60px"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-snackMunchies" role="tabpanel" aria-labelledby="nav-snackMunchies-tab" tabindex="0">
                                <div class="row row-cols-2 row-cols-xl-5 row-cols-md-3 g-4">
                                    <div class="col">
                                        <!-- card -->
                                        <div class="card card-product-v2 h-100">
                                            <div class="card-body position-relative">
                                                <!-- badge -->
                                                <div class="text-center position-relative">
                                                    <!-- img -->
                                                    <a href="#!"><img src="~/images/products/product-img-2.jpg" alt="Grocery Ecommerce Template" class="mb-3 img-fluid" /></a>
                                                    <!-- action btn -->
                                                    <div class="product-action-btn">
                                                        <a href="#!" class="btn-action mb-1" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="bi bi-eye"></i></a>
                                                        <a href="../pages/shop-wishlist.html" class="btn-action mb-1" data-bs-toggle="tooltip" data-bs-html="true" title="Wishlist"><i class="bi bi-heart"></i></a>
                                                        <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" title="Compare"><i class="bi bi-arrow-left-right"></i></a>
                                                    </div>
                                                </div>
                                                <!-- title -->
                                                <h2 class="fs-6"><a href="#!" class="text-inherit text-decoration-none">Britannia NutriChoice Digestive Biscuits</a></h2>
                                                <div>
                                                    <!-- rating -->
                                                    <small class="text-warning">
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-half"></i>
                                                    </small>
                                                    <span class="text-muted small">4.4(3,149)</span>
                                                </div>
                                                <!-- price -->
                                                <div class="d-flex justify-content-between align-items-center mt-3">
                                                    <div><span class="text-dark">$15</span></div>
                                                    <div><span class="text-uppercase small text-primary">In Stock</span></div>
                                                </div>
                                                <!-- btn -->
                                                <div class="product-fade-block">
                                                    <div class="d-grid mt-4">
                                                        <a href="#" class="btn btn-primary rounded-pill">Add to Cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- hidden class for hover -->
                                            <div class="product-content-fade border-info" style="margin-bottom: -60px"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-bakery" role="tabpanel" aria-labelledby="nav-bakery-tab" tabindex="0">
                                <div class="row row-cols-2 row-cols-xl-5 row-cols-md-3 g-4">
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-tea" role="tabpanel" aria-labelledby="nav-tea-tab" tabindex="0">
                                <div class="row row-cols-2 row-cols-xl-5 row-cols-md-3 g-4">
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-drinks" role="tabpanel" aria-labelledby="nav-drinks-tab" tabindex="0">
                                <div class="row row-cols-2 row-cols-xl-5 row-cols-md-3 g-4">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- button -->
        <div class="container mb-10">
            <div class="row">
                <div class="col-12 d-grid">
                    <a href="#!" class="btn btn-soft-warning btn-lg ls-xl text-uppercase rounded-pill">Save an extra 15% on Authorship order</a>
                </div>
            </div>
        </div>
        <!-- section -->
        <section class="my-lg-14 my-8">
            <div class="container">
                <div class="row align-items-center">
                    <!-- col -->
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="mb-6 border-end-lg p-md-4 px-xl-12 text-center">
                            <div>
                                <!-- text -->
                                <div class="mb-8">
                                    <!-- svg -->
                                    <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="currentColor" class="bi bi-clock text-primary" viewBox="0 0 16 16">
                                        <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
                                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z" />
                                    </svg>
                                </div>
                                <!-- text -->
                                <h3 class="fs-5 mb-3">Cheapest basket 25 years running</h3>
                                <p class="mb-0">Get your order delivered to your doorstep at the earliest from FreshCart pickup stores near you.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="mb-6 border-end-lg p-md-4 px-xl-12 text-center">
                            <div>
                                <div class="mb-8">
                                    <!-- svg -->
                                    <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="currentColor" class="bi bi-gift text-primary" viewBox="0 0 16 16">
                                        <path d="M3 2.5a2.5 2.5 0 0 1 5 0 2.5 2.5 0 0 1 5 0v.006c0 .07 0 .27-.038.494H15a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a1.5 1.5 0 0 1-1.5 1.5h-11A1.5 1.5 0 0 1 1 14.5V7a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2.038A2.968 2.968 0 0 1 3 2.506V2.5zm1.068.5H7v-.5a1.5 1.5 0 1 0-3 0c0 .085.002.274.045.43a.522.522 0 0 0 .023.07zM9 3h2.932a.56.56 0 0 0 .023-.07c.043-.156.045-.345.045-.43a1.5 1.5 0 0 0-3 0V3zM1 4v2h6V4H1zm8 0v2h6V4H9zm5 3H9v8h4.5a.5.5 0 0 0 .5-.5V7zm-7 8V7H2v7.5a.5.5 0 0 0 .5.5H7z" />
                                    </svg>
                                </div>
                                <!-- text -->
                                <h3 class="fs-5 mb-3">Best Prices & Offers</h3>
                                <p class="mb-0">Cheaper prices than your local supermarket, great cashback offers to top it off.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="mb-6 p-md-4 px-xl-12 text-center">
                            <div>
                                <div class="mb-8">
                                    <!-- svg -->
                                    <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="currentColor" class="bi bi-box-seam text-primary" viewBox="0 0 16 16">
                                        <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2l-2.218-.887zm3.564 1.426L5.596 5 8 5.961 14.154 3.5l-2.404-.961zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z" />
                                    </svg>
                                </div>
                                <!-- text -->
                                <h3 class="fs-5 mb-3">Wide Assortment</h3>
                                <p class="mb-0">Choose from 5000+ products across food, personal care, household & other categories</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 d-md-none d-lg-block">
                        <!-- hr -->
                        <hr class="mt-8 mb-10" />
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <!-- text -->
                        <div class="mb-6 border-end-lg p-md-4 px-xl-12 text-center">
                            <div>
                                <div class="mb-8">
                                    <!-- svg -->
                                    <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="currentColor" class="bi bi-tablet text-primary" viewBox="0 0 16 16">
                                        <path d="M12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h8zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z" />
                                        <path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                                    </svg>
                                </div>
                                <!-- text -->
                                <h3 class="fs-5 mb-3">Shop with our app</h3>
                                <p class="mb-0">
                                    Shop on the go with our app for
                                    <a href="#">tablet and mobile</a> . Get live order tracking. Get latest feature updates
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="mb-6 border-end-lg p-md-4 px-xl-12 text-center">
                            <div>
                                <div class="mb-8">
                                    <!-- svg -->
                                    <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="currentColor" class="bi bi-truck text-primary" viewBox="0 0 16 16">
                                        <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                                    </svg>
                                </div>
                                <!-- text -->
                                <h3 class="fs-5 mb-3">Want your shopping today?</h3>
                                <p class="mb-0">
                                    Choose from our award winning
                                    <a href="#">Express delivery</a> or collection options.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="mb-6 p-md-4 px-xl-12 text-center">
                            <div>
                                <div class="mb-8">
                                    <!-- svg -->
                                    <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="currentColor" class="bi bi-arrow-repeat text-primary" viewBox="0 0 16 16">
                                        <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z" />
                                        <path fill-rule="evenodd"
                                              d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z" />
                                    </svg>
                                </div>
                                <!-- text -->
                                <h3 class="fs-5 mb-3">Easy Returns/Refund</h3>
                                <p class="mb-0">
                                    Not satisfied with a product? Return it at the doorstep & get a refund within hours. No questions asked
                                    <a href="#">policy</a> .
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Javascript-->
    <!-- Libs JS -->
    <!-- <script src="~/lib/jquery/dist/jquery.min.js"></script> -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/simplebar/dist/simplebar.min.js"></script>

    <!-- Theme JS -->
    <script src="~/js/theme.min.js"></script>

    <script src="~/js/vendors/jquery.min.js"></script>
    <script src="~/lib/slick-carousel/slick/slick.min.js"></script>
    <script src="~/js/vendors/slick-slider.js"></script>
    <script src="~/lib/tiny-slider/dist/min/tiny-slider.js"></script>
    <script src="~/js/vendors/tns-slider.js"></script>
    <script src="~/js/vendors/zoom.js"></script>

    <script src="~/lib/apexcharts/dist/apexcharts.min.js"></script>
    <script src="~/js/vendors/chart.js"></script>
    <script src="~/js/vendors/validation.js"></script>
</body>
