@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<main>
    <!-- section -->
    <section class="my-lg-14 my-8">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row justify-content-center align-items-center">
                <div class="col-12 col-md-6 col-lg-4 order-lg-1 order-2">
                    <!-- img -->
                    <img src="~/images/svg-graphics/fp-g.svg" alt="" class="img-fluid" />
                </div>
                <div class="col-12 col-md-6 offset-lg-1 col-lg-4 order-lg-2 order-1 d-flex align-items-center">
                    <div>
                        <div class="mb-lg-9 mb-3">
                            <!-- heading -->
                            <h1 class="mb-2 h2 fw-bold">Forgot your password?</h1>
                            <p>Please enter the email address associated with your account and We will email you a link to reset your password.</p>
                        </div>
                        <!-- form -->
                        <form method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                           
                                <!-- col -->
                                <div class=" form-floating mb-3">
                                    <!-- input -->
                                    
                                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" type="email" placeholder="name@example.com" />
                                <label asp-for="Input.Email" class="form-label"></label>
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>

                                <!-- btn -->
                                <div class="col-12 d-grid gap-2">
                                    <button type="submit" class=" btn btn-lg btn-primary">Reset Password</button>
                                    <a href="@Url.Action("Index", "Home")" class="btn btn-light">Back</a>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
